/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Gg]ame/
/[Gg]ameMacOS.app/
/[Gg]ameWebGL/
/.vscode/

/[Mm]emoryCaptures/

!/[Aa]ssets/**/*.meta

/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.collabignore
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.zip
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.meta
sysinfo.txt

*.apk
*.aab
*.unitypackage

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*